Host core cms cms.dev cms.dev.generalassemb.ly ec2-23-21-28-201.compute-1.amazonaws.com
  HostName ec2-23-21-28-201.compute-1.amazonaws.com
  User ubuntu
  ForwardAgent yes

Host app1 54.235.192.253
  HostName 54.235.192.253
  User ubuntu
  ForwardAgent yes

Host app2 ec2-50-16-119-177.compute-1.amazonaws.com
  HostName ec2-50-16-119-177.compute-1.amazonaws.com
  User ubuntu
  ForwardAgent yes

Host app3 54.235.148.140
  HostName 54.235.148.140
  User ubuntu
  ForwardAgent yes

Host dp jenkins staging ci.generalassemb.ly ec2-50-16-84-110.compute-1.amazonaws.com
  HostName ec2-50-16-84-110.compute-1.amazonaws.com
  User ubuntu
  ForwardAgent yes

Host devbox ec2-67-202-29-55.compute-1.amazonaws.com
  HostName ec2-67-202-29-55.compute-1.amazonaws.com
  User ubuntu
  ForwardAgent yes

Host riak_redis ec2-204-236-223-193.compute-1.amazonaws.com
  HostName ec2-204-236-223-193.compute-1.amazonaws.com
  User ubuntu
  ForwardAgent yes

Host CouchDB ec2-23-20-199-88.compute-1.amazonaws.com
  HostName ec2-23-20-199-88.compute-1.amazonaws.com
  User ubuntu
  ForwardAgent yes

Host admissions ec2-23-22-98-39.compute-1.amazonaws.com
  HostName ec2-23-22-98-39.compute-1.amazonaws.com
  User ubuntu
  ForwardAgent yes

Host ipython ec2-23-22-188-21.compute-1.amazonaws.com
  HostName ec2-23-22-188-21.compute-1.amazonaws.com
  User ubuntu 
  ForwardAgent yes
